.career17-container {
  min-height: 100vh;
}
.career17-career17 {
  width: 100%;
  height: auto;
  display: flex;
  padding: 50px 64px;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-default-white);
}
.career17-section-title {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 100px;
  flex-direction: column;
}
.career17-text {
  color: var(--dl-color-default-black);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 16px;
}
.career17-content {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.career17-content1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.career17-card {
  display: flex;
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  flex-direction: column;
}
.career17-job {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 32px;
  flex-direction: column;
}
.career17-text03 {
  color: var(--dl-color-default-black);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 24px;
}
.career17-text05 {
  color: var(--dl-color-default-black);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.career17-info {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.career17-content2 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 24px;
}
.career17-icon-pin {
  width: 32px;
  height: 32px;
  position: relative;
  margin-right: 12px;
}
.career17-text07 {
  color: var(--dl-color-default-black);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.career17-content3 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.career17-icon-clock {
  width: 32px;
  height: 32px;
  position: relative;
  margin-right: 12px;
}
.career17-text09 {
  color: var(--dl-color-default-black);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.career17-card1 {
  display: flex;
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  margin-bottom: 32px;
  flex-direction: column;
}
.career17-job1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 32px;
  flex-direction: column;
}
.career17-text11 {
  color: var(--dl-color-default-black);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 24px;
}
.career17-text13 {
  color: var(--dl-color-default-black);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.career17-info1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.career17-content4 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 24px;
}
.career17-icon-pin1 {
  width: 32px;
  height: 32px;
  position: relative;
  margin-right: 12px;
}
.career17-text15 {
  color: var(--dl-color-default-black);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.career17-content5 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.career17-icon-clock1 {
  width: 32px;
  height: 32px;
  position: relative;
  margin-right: 12px;
}
.career17-text17 {
  color: var(--dl-color-default-black);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.career17-card2 {
  display: flex;
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.career17-job2 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 32px;
  flex-direction: column;
}
.career17-text19 {
  color: var(--dl-color-default-black);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 24px;
}
.career17-text21 {
  color: var(--dl-color-default-black);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.career17-info2 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.career17-content6 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 24px;
}
.career17-icon-pin2 {
  width: 32px;
  height: 32px;
  position: relative;
  margin-right: 12px;
}
.career17-text23 {
  color: var(--dl-color-default-black);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.career17-content7 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.career17-icon-clock2 {
  width: 32px;
  height: 32px;
  position: relative;
  margin-right: 12px;
}
.career17-text25 {
  color: var(--dl-color-default-black);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
