<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="insertQuestion">
		INSERT INTO QNA(ASK_NO
		              , ASK_TYPE
		              , ASK_TITLE
		              , ASK_CONTENT
		              , ANSWER_DATE
		              , MEMBER_NO)
		         VALUES(SEQ_QNO.NEXTVAL
		              , ?
		              , ?
		              , ?
		              , NULL
		              , ?)
		           
	</entry>
	
	<entry key="selectListCount">
		SELECT COUNT(*) COUNT
		FROM QNA Q
		JOIN MEMBER USING(MEMBER_NO)
		WHERE MEMBER_NO = ?
	</entry>
	
	<entry key="selectList">
	SELECT *
	FROM (
	    SELECT ROWNUM RNUM, A.*
	    FROM (
	        SELECT ASK_NO
	            , ASK_TYPE
	            , ASK_TITLE
	            , ASK_CONTENT
	            , MEMBER_NO
	            , ASK_DATE
	            , ANSWER_CONTENT
	            , ANSWER_DATE
	        FROM QNA Q
	        JOIN MEMBER USING(MEMBER_NO)
		    WHERE MEMBER_NO = ?
		      AND Q.STATUS = 'Y'
	        ORDER BY ASK_DATE DESC
	        ) A
	    )
	WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectAsk">
		SELECT ASK_NO
		     , ASK_TITLE
		     , ASK_CONTENT
		     , ASK_DATE
		  FROM QNA Q
		  JOIN MEMBER USING (MEMBER_NO)
		 WHERE ASK_NO = ?
		   AND Q.STATUS = 'Y'
	
	</entry>
	
	<entry key="updateAsk">
	UPDATE QNA
	   SET ASK_TITLE = ?
		 , ASK_CONTENT = ?
	 WHERE ASK_NO = ?
		AND STATUS = 'Y'
	</entry>
	
	<entry key="deleteAsk">
		UPDATE QNA
		   SET STATUS = 'N'
		 WHERE ASK_NO = ?
	</entry>
	
	<entry key="insertAnswer">
		INSERT INTO QNA(ASK_NO
		              , ANSWER_CONTENT
		              , ANSWER_DATE)
		         VALUES(SEQ_QNO.NEXTVAL
		              , ?
		              , NULL)
	</entry>
	
	<entry key="deleteAnswer">
		UPDATE QNA
		   SET STATUS = 'N'
		 WHERE ASK_NO = ?
	</entry>


</properties>






